body {
	background: #3c3c3c;
}

/* bouton de recherche */
#searchTable {
    font-size: large;
	padding: 6px;
	vertical-align: middle;
	margin-right: 30%;
}

/* bouton commandes */
.table-controls button {
    padding: 5px 10px;
    border: 1px solid #25682a;
    background: #3FB449;
    background: -webkit-gradient(linear, left top, left bottom, from(#3FB449), to(#25682a));
    background: linear-gradient(to bottom, #3FB449 0%, #25682a 100%);
    color: #fff;
    font-weight: bold;
    -webkit-transition: color .3s, background .3s, opacity, .3s;
    transition: color .3s, background .3s, opacity, .3s;
	vertical-align: middle;
}
.table-controls button:hover {
    border: 1px solid #328e3a;
    background: #5fc768;
    background: -webkit-gradient(linear, left top, left bottom, from(#5fc768), to(#328e3a));
    background: linear-gradient(to bottom, #5fc768 0%, #328e3a 100%);
    cursor: pointer;
    color: #000;
}
.table-controls button:disabled {
    color: rgba(34, 34, 34, 0.7);
    background: rgba(63, 180, 73, 0.7);
    cursor: default;
}

/* striped rows */
.tabulator-row.tabulator-row-even {
	background-color: #ffffcc;
}
/* editable cell hover */
.tabulator-row:hover {
	background-color: #ccc !important;
    cursor: default !important;
}
.tabulator-cell.tabulator-editable:hover {
    cursor: pointer;
}

/* boutons pagination */
button.tabulator-page {
    border: 1px solid #25682a !important;
    background: #3FB449 !important;
	vertical-align:middle;
    font-weight: bold;
	margin: 0 1px !important;

}
.tabulator-pages > button.tabulator-page {
	width: 31px;
	padding: 6px 0px !important;
}
button.tabulator-page.active {
	color: #fff !important;
}
/* bug au lancement */
.tabulator-pages {
	display: unset !important;
}

.tooltip {
	background-color: #3FB449;
	color: #fff;
	font-size: large;
}